<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-apiassistencia-heading"
        data-cy="ApiassistenciaCreateUpdateHeading"
        jhiTranslate="wattsUpEnergyApp.apiassistencia.home.createOrEditLabel"
      >
        Create or edit a Apiassistencia
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="wattsUpEnergyApp.apiassistencia.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_filtro"
            [ngbTooltip]="'wattsUpEnergyApp.apiassistencia.help.filtro' | translate"
            jhiTranslate="wattsUpEnergyApp.apiassistencia.filtro"
            >Filtro</label
          >
          <textarea class="form-control" name="filtro" id="field_filtro" data-cy="filtro" formControlName="filtro"></textarea>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_dadosassistencia"
            [ngbTooltip]="'wattsUpEnergyApp.apiassistencia.help.dadosassistencia' | translate"
            jhiTranslate="wattsUpEnergyApp.apiassistencia.dadosassistencia"
            >Dadosassistencia</label
          >
          <textarea
            class="form-control"
            name="dadosassistencia"
            id="field_dadosassistencia"
            data-cy="dadosassistencia"
            formControlName="dadosassistencia"
          ></textarea>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_chave"
            [ngbTooltip]="'wattsUpEnergyApp.apiassistencia.help.chave' | translate"
            jhiTranslate="wattsUpEnergyApp.apiassistencia.chave"
            >Chave</label
          >
          <input type="text" class="form-control" name="chave" id="field_chave" data-cy="chave" formControlName="chave" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
