<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (apidiaexcepcional(); as apidiaexcepcionalRef) {
      <div>
        <h2 data-cy="apidiaexcepcionalDetailsHeading">
          <span jhiTranslate="wattsUpEnergyApp.apidiaexcepcional.detail.title">Apidiaexcepcional</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ apidiaexcepcionalRef.id }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'wattsUpEnergyApp.apidiaexcepcional.help.dadosdiaexcepcional' | translate"
              jhiTranslate="wattsUpEnergyApp.apidiaexcepcional.dadosdiaexcepcional"
              >Dadosdiaexcepcional</span
            >
          </dt>
          <dd>
            <span>{{ apidiaexcepcionalRef.dadosdiaexcepcional }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'wattsUpEnergyApp.apidiaexcepcional.help.chave' | translate"
              jhiTranslate="wattsUpEnergyApp.apidiaexcepcional.chave"
              >Chave</span
            >
          </dt>
          <dd>
            <span>{{ apidiaexcepcionalRef.chave }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/apidiaexcepcional', apidiaexcepcionalRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
